*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    color:#202833;
}
.container{
    max-width: 1024px;
    margin: 0 auto;
}
.headings{
    font-family: 'ArialRoundedMT';
    font-weight: 700;
}
.mh1{
    font-size: 48px;
}
.mh1{
    color: #46a29f;
}
.main-header{
    height: 120px;
    background-color:#46a29f;
}

.main-content{
    height: 2200px;
}

.main-footer{
    height: 420px;
    background-color:#66fcf1;
}